
.teal--color {
    color: #1bd9e5;
}
.teal--fill {
    fill: #1bd9e5;
}
.green--fill {
    fill: #15be53;
}
.pill__teal {
    background-color: #1bd9e5;
    color: #111;
}
.button--consultation {
    background-color: #635bff;
}
.hero-info {
    width: 0;
}
.post-header {
    display: flex;
    justify-content: center;
    width: 100%;
}
.post-header__container {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 1em;
    color: rgb(10, 37, 64);
}

.post-header__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}
.post-header__links {
    gap: 1em;
    display: flex;
}
.post-header__links a{
    text-decoration: none;
}
#accounting-canvas {
    --gradient-color-1: #1bd9e5;
    --gradient-color-2: #1dcb5d;
    height: 500px;
    clip-path: polygon(0 54%, 100% 0, 100% 32%, 0 86%);
    scale: 1.55;
    margin-top: 0em;
}
.button--teal {
        background-color: #1bd9e5;
        padding: 6px 12px 9px 16px;
        color: white;
        margin-right: 10px;
        font-size: 15px;
        font-weight: 500;
        display: flex;
}
.button--teal-text {
    color:#1bd9e5;
    background: transparent;
}
.hero {
    z-index: 2;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}
.hero__section {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1080px;
    padding: 2em;
}
.hero__header {
    font-size: 56px;
    font-weight: 600;
    margin-top: .5em;
    line-height: 68px;
    color: rgb(10, 37, 64);
    color-scheme: light;
}
.hero__info {
    width: 43%;
}
.hero-table {
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 15px;
    border-radius: 24px;
    font-size: 12px;
    margin-left: 4em;
    margin-top: 4em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.hero-table a {
    font-weight: normal;
    color: lightslategray;
    text-decoration: none;
    padding: 10px 15px;
}
.hero-table__image {
    display: flex;
    align-items: center;
}
.hero-table__image img {
    width: 35px;
}
.hero-table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-table__bgGray {

}
.hero-table__bgGray {

}
.hero-table__body {
    background-color: lightslategray;
}
.hero-table__section {
 
}
