body {
    background-color: #f6f9fc;
}
.globalNav .navSection.primary .rootLink {
    color: rgb(10, 37, 64);
  }
.globalNav {
    position: relative;
}

.ba-main-info h1  {
    font-size: 56px;
    margin-top: 1.25em;
    line-height: 68px;
    color: rgb(10, 37, 64);
    color-scheme: light;
  }
}

.ba-main-image {
    margin-top: 6em;
}
.ba-main-info {
 width: 50%;
}
#ba-gradient-canvas {
    --gradient-color-1: #45dfff;
    --gradient-color-2: #ff79f6;
    --gradient-color-3: #4536ff;
    height: 500px;
transform: skew(0deg);
rotate: 0deg;
clip-path: polygon(100% 17%, 100% 69%, 0 85%, 0 34%);
}
.ba-post-header {
    display: flex;
justify-content: center;
width: 100%;
}
.ba-post-header-container {
    width: 1080px;
display: flex;
justify-content: space-between;
text-decoration: none;
margin-top: 1em;
color: rgb(10, 37, 64);
}
.ba-post-header-text {
    gap: 1em;
    display: flex;
  
}
.ba-post-header-container a{
    text-decoration: none;
    color: rgb(0, 115, 230);
    font-weight: 500;
 }
 .ba-post-header-img {
    display: flex;
justify-content: center;
align-items: center;
gap: 0.8em;
 }
 .logo {
    width: 42px;
opacity: 1.1;
 }
.ba-main-image img {
    width: 400px;
    animation: cardMovement 12.6s ease forwards infinite;
    transform-style: preserve-3d;
    padding: 3em;
}
.ba-line-globe {
    height: 40px;
    width: 100vw;
    transform: skewY(-4deg);
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 7em;
    align-items: start;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
@keyframes color1 { 
   from {
fill: #fff;
   } 
   to {
  fill: #fc605c;
   }
}
@keyframes color2 { 
    from {
 fill: #fff;
    } 
    to {
   fill: #fcbb40;
    }
 }
 @keyframes color3 { 
    from {
 fill: #fff;
    } 
    to {
   fill: #34c648;
    }
 }
.crc-1 { 
    background: #fff;
    animation: color1 5s ease-in-out infinite;
}
.crc-2 { 
    background: #fff;
    animation: color2 3s ease-in-out infinite;
}
.crc-3 { 
    background: #fff;
    animation: color3 4s ease-in-out infinite;
}
.lock {
    position: absolute;
    width: 11px;
    fill: white;
    height: 11px;
    margin-left: 6px;
    animation: lock 2s  infinite;
}

.lock-head {
    animation: lock-head 2s infinite;
    transform-origin: center center;
}
@keyframes lock-head {
    from {
        transform: rotate(-65deg);
        scale: 1;
    }
    to {
        transform: rotate(0deg);
    }
}
@keyframes lock {
    from {
scale: 
1;
    }
    to {
scale: 1.6;
    }
}
.sales {
    background-color: rgb(0, 115, 230);
    padding: 6px 12px 9px 16px;
    color: white;
}
.st3 {
    position: absolute;
    margin-top: 17px;
    width: 30px;
    transform-origin: center center;
    animation: rotate 5s linear infinite;
}
.ft-animated-section {
    align-items: left;
display: flex;
}
.ft-animated-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ft-1 {
    width: 41px;
}
.ft-3-arrow {
    animation: arrowMovement 2.5s linear infinite;
    transform-origin: center center;
    
}
.ft-4-arrow {
    position: absolute;
scale: 0.2;
margin-top: 15px;
transform-origin: center 50%;
animation: rotate-clock 5s ease-in-out infinite;
margin-left: 2px;
}
@keyframes rotate-clock {
    from {
        transform: translateX(0%)translateY(0%);
        
    }
    to {
        transform: translateX(34%)translateY(2%);
        ROTATE: 45DEG;
    }
    to {
        transform: translateX(43%)translateY(-13%);
        ROTATE: 90DEG;
    }
    to {
        transform: translateX(51%)translateY(-22%);
        ROTATE: 120DEG;
    }
    to {
        transform: translateX(39%)translateY(-40%);
        ROTATE: 180DEG;
    }
  }
.ft-3 {
    width: 41px;
    height: 41px;
}
.ft-3-check {
    animation: checkMovement 2.5s linear infinite;
    transform-origin: center;
}
@keyframes checkMovement {
    from {
        transform: translateY(-25%);
      }
      to {
transform: translateY(0%);
      }
  }

@keyframes arrowMovement {
    from {
        transform: skewY(0deg);
        scale: 1.3;
      }
      to {
        scale: 1.6;
        transform: skewY(-20deg);
      }
  }

@keyframes cardMovement {
    from {
        scale: 0.5;
      }

      to {
        transform: rotateX(20deg)rotateY(40deg);
      }
      to {
        transform: rotateX(20deg)rotateY(90deg);
      }
      to {
        transform: rotateX(20deg)rotateY(360deg);
      }
  }
.ba-main-hero {
    display: flex;
width: 100%;
justify-content: center;
}

.ba-main-hero-section {
    display: flex;
justify-content: start;
align-items: center;
width: 1080px;
}
.cards-section-text {
    width: 52%;
    display: flex;
justify-content: center;
flex-direction: column;
vertical-align: baseline;
margin-top: 7em;
margin-right: 4em;
}
.cards-section-text h2 {
    font-size: 38px;
    line-height: 1.26;
    font-weight: 500;
}
.cards-section-text h3 {
    font-size: 18px;
    color: rgb(0, 115, 230);
    line-height: 1.26;
    font-weight: 500;
}
.cards-section {
    display: flex;
    width:1080px;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cards-sections-images {
    position: relative;
}
 .cards-sections-images img{
    width: 800px;
    position: absolute;
 }
 #banking {
    margin-top: 18em;
 }