
.globalNav .navSection.primary .rootLink {
    color: rgb(10, 37, 64);
}
.ba-background {
    background-color: #f6f9fc;
}
.globalNav {
    position: relative;
}

.ba-main-info h1 {
    font-size: 56px;
    font-weight: 600;
    margin-top: 1.25em;
    line-height: 68px;
    color: rgb(10, 37, 64);
    color-scheme: light;
}

.tbc-logo, .credo-logo, .liberty-logo, .credo-text,.LINE-1,.LINE-2,.LINE-3 {
    display: none;
}

/* .ba-main-image {
    margin-top: 6em;
} */
.ba-main-info {
    width: 50%;
}
.btn-test {
    background: rgb(0, 115, 230);
padding: 11px;
border-radius: 50%;
}

#ba-gradient-canvas {
    --gradient-color-1: #45dfff;
    --gradient-color-2: #ff79f6;
    --gradient-color-3: #4536ff;
    --gradient-color-4: #2aa1ff;
    height: 500px;
    clip-path: polygon(0 54%, 100% 0, 100% 32%, 0 86%);
    scale: 1.55;
    margin-top: 0em;
}

.ba-post-header {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ba-post-header-container {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 1em;
    color: rgb(10, 37, 64);
}

.ba-post-header-text {
    gap: 1em;
    display: flex;

}

.ba-post-header-container a {
    text-decoration: none;
    color: rgb(0, 115, 230);
    font-weight: 500;
}
.sign-in-ba {
    background-color: rgb(0, 115, 230);
}
.ba-post-header-img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
}

.logo {
    width: 42px;
    opacity: 1.1;
}

.ba-main-image svg {
    width: 450px;
    animation: cardMovement 14.6s ease forwards;
    /* -webkit-animation-name: cardMovement;
    -webkit-animation-duration: 32s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards; */
    -webkit-transition: 3s;
    transform-style: preserve-3d;
    padding: 3em;
    scale: 1 ;
    transition: transform 0.5s ease-in-out;
    animation-timing-function: ease-in-out;
} 
.ba-main-image img {
    width: 450px;
    animation: cardMovement 14.6s ease forwards;
    /* -webkit-animation-name: cardMovement;
    -webkit-animation-duration: 32s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards; */
    -webkit-transition: 3s;
    transform-style: preserve-3d;
    padding: 3em;
    scale: 1 ;
    transition: transform 0.5s ease-in-out;
    animation-timing-function: ease-in-out;
} 
.safari-b {
    -webkit-transform: scale(0);
}
.ba-line-globe {
    height: 40px;
    width: 100vw;
    transform: skewY(-4deg);
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 7em;
    align-items: start;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes color1 {
    from {
        fill: #fff;
    }

    to {
        fill: #fc605c;
    }
}

@keyframes color2 {
    from {
        fill: #fff;
    }

    to {
        fill: #fcbb40;
    }
}

@keyframes color3 {
    from {
        fill: #fff;
    }

    to {
        fill: #34c648;
    }
}

.crc-1 {
    background: #fff;
    animation: color1 5s ease-in-out infinite;
}

.crc-2 {
    background: #fff;
    animation: color2 3s ease-in-out infinite;
}

.crc-3 {
    background: #fff;
    animation: color3 4s ease-in-out infinite;
}

.lock {
    position: absolute;
    width: 11px;
    fill: white;
    height: 11px;
    margin-left: 6px;
    animation: lock 2s infinite;
}

.lock-head {
    animation: lock-head 2s infinite;
    transform-origin: center center;
}

@keyframes lock-head {
    from {
        transform: rotate(-65deg);
        scale: 1;
    }

    to {
        transform: rotate(0deg);
    }
}

@keyframes lock {
    from {
        scale:
            1;
    }

    to {
        scale: 1.6;
    }
}

.sales {
    background-color:rgb(0, 115, 230);
    padding: 6px 12px 9px 16px;
    color: white;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
  }


.st3 {
    position: absolute;
    margin-top: 17px;
    width: 30px;
    transform-origin: center center;
    animation: rotate 5s linear infinite;
}

.ft-animated-section {
    align-items: left;
    display: flex;
}

.ft-animated-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-1 {
    width: 41px;
}

.ft-3-arrow {
    animation: arrowMovement 2.5s linear infinite;
    transform-origin: center center;

}

.ft-4-arrow {
    position: absolute;
    scale: 0.2;
    margin-top: 15px;
    transform-origin: center 50%;
    animation: rotate-clock 5s ease-in-out infinite;
    margin-left: 2px;
}

@keyframes rotate-clock {
    from {
        transform: translateX(0%)translateY(0%);

    }

    to {
        transform: translateX(34%)translateY(2%);
        ROTATE: 45DEG;
    }

    to {
        transform: translateX(43%)translateY(-13%);
        ROTATE: 90DEG;
    }

    to {
        transform: translateX(51%)translateY(-22%);
        ROTATE: 120DEG;
    }

    to {
        transform: translateX(39%)translateY(-40%);
        ROTATE: 180DEG;
    }
}

.ft-3 {
    width: 41px;
    height: 41px;
}

.ft-3-check {
    animation: checkMovement 2.5s linear infinite;
    transform-origin: center;
}

@keyframes checkMovement {
    from {
        transform: translateY(-25%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes arrowMovement {
    from {
        transform: skewY(0deg);
        scale: 1.3;
    }

    to {
        scale: 1.6;
        transform: skewY(-20deg);
    }
}

@keyframes cardMovement {
    from {
        transform: rotateX(0deg) rotateY(0deg);
        scale: 0.2;
    }

    to {
        scale: 1;
        transform: rotateX(20deg) rotateY(360deg);
    }


    to {
        transform: rotateX(20deg) rotateY(360deg);
        scale: 1;
    }
    to {
        transform: rotateX(20deg) rotateY(360deg);
        scale: 1;
    }
    to {
        transform: rotateX(20deg) rotateY(720deg);
        scale: 1;
    }

}





    @-webkit-keyframes cardMovement {
      0%{
            -webkit-transform:  rotate3d(0, 0, 0, 0deg) scale(0.2);
        }
        100%{
        
          -webkit-transform:  rotate3d(0, 1, 0, 720deg) scale(1);  
        }
    }
.ba-main-hero-section {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1080px;
}

.cards-section-text {
    width: 52%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    vertical-align: baseline;
    margin-top: 7em;
    margin-right: 4em;
}

.cards-section-text h2 {
    font-size: 38px;
    line-height: 1.26;
    font-weight: 500;
}

.cards-section-text h3 {
    font-size: 18px;
    color: rgb(0, 115, 230);
    line-height: 1.26;
    font-weight: 500;
}

.cards-section {
    display: flex;
    width: 1080px;
    padding-top: 13em;
    z-index: 9999;
}

.phone-section {
    display: flex;
    width: 1080px;
    z-index: 1;
}

.content-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cards-sections-images {
    position: relative;
}

.cards-sections-images img {
    width: 800px;
    position: absolute;
}

.transaction {
    margin-bottom: 13em;
    margin-top: -23em;
}

.phone {
    scale: 1.5;
    margin-left: 5em;
    margin-top: 10em;
}

.phone-shadow {
    filter: drop-shadow(0.2px 4px 1px gray);
}

.Face-ID {
    scale: 0.8;
    transform-origin: center;
    transform: translateY(1em);
}

.fa-bars {
    background-color: rgb(0, 115, 230);
}

.face-corners {
    animation: face-corners-pulse 1.5s linear infinite;
    transform-origin: center center;
}

@keyframes face-corners-pulse {
    from {
        scale: 1.2;
        transform: translateY(-0.6em);
    }

    to {
        scale: 1;

    }
}

.phone-border {
    fill: #d3d3d32b;

}

.check {
    animation: checkAnimation 0.5s linear;
    display: none;
    transform-origin: center;
    scale: 0.9;
    fill: rgb(0, 115, 230);
}

.check-box {
    transform: translateY(0.5em);
}

.table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23em;
}

table {
    width: 100%;
    padding: 32px 32px 32px 0px;
}

.table-logo-text {
    font-size: 14px;
    font-weight: 400;
    color: rgb(66, 84, 102);
    display: flex;
    align-items: center;
}

.tableBody::before {
    position: absolute;
    left: 28%;
    right: 0%;
    height:804px;
    content: "";
    z-index: -1;
    background: white;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 765px;
}

.table-item-section {
    display: flex;
    flex-direction: column;
}

.table-item {
    display: flex;
    padding: 5px;
}

.table-logo {
    width: 16px;
}

.liberty,
.halik {
    width: 24px;
}

.table-text h4 {
    font-size: 26px;
    color: rgb(10, 37, 64);
}

.table-text p {
    color: rgb(66, 84, 102);
    font-size: 17px;
}

.table-text span {
    color: rgb(99, 91, 255);
}

td {
    padding: 15px;
}

.gray-row::after {
    background: linear-gradient(270deg, #eef3f9, #f7f9fc);
    position: absolute;
    left: 8%;
    right: 0%;
    height: 100px;
    content: "";
    z-index: -2;
    width: 1021px;
    border-radius: 8px;
}

.gray-td::before {
    background: linear-gradient(270deg, #eef3f9, #f7f9fc);
    position: absolute;
    left: 29%;
    right: 0%;
    height: 103px;
    content: "";
    z-index: -1;
    width: 740px;
    border-radius: 8px;
    margin-top: -1.3em;
}

.table-logo-spacing {
    padding: 3px;
}

.pricing__headerSmall {
    font-size: 18px;
    line-height: 1.26;
    font-weight: 500;
}
.pricing__header--medium {
    font-size: 26px;
    line-height: 1.26;
    font-weight: 500;
}
.pricing__text--width {
    width: 65%;
}
.pricing__header--blue {
    color: rgb(0, 115, 230);
}
.pricing__text P {
    color: rgb(66, 84, 102);
    font-size: 17px;
}

.pricing__text h2 {
    font-size: 38px;
    line-height: 1.26;
    font-weight: 500;
}

.pricing {
    margin-top: 9em;
    display: flex;
    justify-content: center;
}

.pricing__section {
    width: 1080px;
    margin-left: 1em;
}

.checks {
    display: flex;
    font-size: 12px;
    gap: 8em;
}

.checks p {
    font-weight: normal;
    font-size: 15px;

}

.pricing-item:first-child {
    width: 30%;
    align-content: center;
    align-items: left;
    display: flex;
    flex-direction: column;
    border-right: solid 1px #d3d3d34d;
    padding-left: 10px;
}

.pricing-item p {
    font-size: 15px;
    font-weight: 400;
    color: #425466;
    letter-spacing: .2px;

}

.prices {
    border-right: solid 1px #d3d3d34d;
    border-left: solid 1px rgb(0, 115, 230);
    padding: 12px;
    background: #f1f6fbd6;
    width: 35.8%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pricing-item {
    font-size: 15px;
    padding-top: 20px;
}

.fill-none {
    fill: none;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.personaliz {
    width: 47%;
    border-right: solid 1px #d3d3d34d;
    border-left: solid 1px rgb(0, 115, 230);
    padding: 12px;
    padding-top: 12px;
    background: #f1f6fbd6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pricing-box p {
    margin-top: .3em;
}

.disput {
    margin-top: 58%;
}

.pricing-animation-image {
    width: 30px;
    transform-origin: center center;
    animation: rotate 5s linear infinite;
}

.pricing-animation-image-2 {
    width: 42px;
    transform-origin: center center;
    animation: rotate reverse 5s linear infinite;
    margin-left: -0.7em;
}

.pricing-header {
    font-size: 18px;
    font-weight: 450;

}

.pricing-row:nth-child() {
    width: 43%;
}

.pricing-row {
    border: solid 1px #d3d3d34d;
    margin-top: 4em;
    display: flex;
    gap: 1em;
    border-radius: 8px;
}

.little-checks {
    padding: 5px 1px;
    width: 24px;
    vertical-align: bottom;
}

.checks p {
    display: flex;
}

td {
    vertical-align: middle;
}

*/ .cl-1 {
    width: 30%;
    text-align: center;
}

table td {
    font-weight: bold;
}

.table-section {
    width: 1080px;
    z-index: 3;
    font-size: 15px;
    font-family: 400;
}

@keyframes checkAnimation {

    from {
        transform: rotateY(360deg);
    }
}

.bg {
    position: absolute;
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    background: #fff;
    width: 100%;
    z-index: -1;
}

.bg-height-cards {
    height: 1030px;
}

.bg-height-table {
    height: 1560px;
    z-index: 2;
    margin-top: -8em;
}

#banking {
    margin-top: 6em;
}
.mb-1  {
   visibility: hidden;
}
@media (max-width:600px) {

    .main-hero-section {
        width: 100%;
        flex-direction: column;
    }

    .ba-main-hero {
        flex-direction: column;
        z-index: 1;
        position: relative;
        padding-left: 2em;
        display: flex;
        margin-top: 3em;
        padding-right: 2rem;
    }

    .ba-main-hero-section {

        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: left;
        align-items: normal;
    }

    .ba-main-info {
        width:90%;
        margin-left: 1em;
    }

    .ba-post-header-text {
        gap: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .bg-height-cards {
        height: 100%;
    }

    .cards-section {
        display: flex;
        width: 100%;
        padding-top: 17em;
        z-index: 9999;
        flex-direction: column;
    }

    .content-section {
        flex-direction: column;
    }

    .cards-sections-images img {
        width: 406px;
        position: absolute;
        margin-left: 4em;
    }

    .cards-section-text {
        padding-right: 2rem;
        padding-left: 2rem;
        margin-top: 2em;
        width: 100%;
    }

    .ba-post-header-container {
        padding-left: 1em;
        padding-right: 2em;
    }

    body {
        background-color: white;
    }

    .ba-main-image {
        width: 100%;
        margin-top: 2em;
        display: flex;
        justify-content: center;
    }

    .ba-main-image img {
        padding: 0;
    }

    #ba-gradient-canvas {
        clip-path: polygon(0 43%, 100% 27%, 100% 57%, 0 73%);
        margin-top: 0;
    }

    .phone-section {
        display: flex;
        width: 100%;
        margin-top: 5em;
        z-index: 1;
        flex-direction: column;
    }

    .pricing__section {
        width: 100%;
        padding-left: 1em;
        padding-right: 2em;
    }

    .phone {
        scale: 1.5;
        margin-left: 0em;

    }

    .cards-sections-images {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .prices {
        width: 100%;
    }

    .disput {
        margin-top: 0;
    }

    .pricing-row {
        display: flex;
        flex-wrap: wrap;
        border: solid 1px #d3d3d34d;
        padding: 10px;
    }

    .pricing-item:first-child {
        width: 100%;
        align-content: center;
        align-items: left;
        display: flex;
        flex-direction: column;
        border-right: none;

    }

    .personaliz {
        width: 100%;
    }

    .checks {
        flex-wrap: wrap;
        gap: 0;
    }

    .checks>div:nth-child(1) {
        display: flex;
        flex-direction: column;
    }

    .table-section {
        width: 100%;
    }

    .table {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
        padding-right: 2em;
        padding-left: 2em;
    }

    .cl-1 {
        display: none;
    }
    .mb-1 {
        visibility: visible;
        padding: 20px;
        position: sticky;
        left: 0;
        text-align: left;
    }
    .mb-1::before {
        background: linear-gradient(270deg, #eef3f9, #f7f9fc);
        position: absolute;
        left: 3%;
        right: 0%;
        height: 62px;
        content: "";
        z-index: -1;
        width: 100%;
        border-radius: 8px;
        margin-top: -1.3em;
      }
    .gray-td::before {
       visibility: hidden;
    }
    .bg-height-table {
        height: 1350px;
        display: none;
        z-index: 2;
        margin-top: -6em;
        background: #f6f9fc;
        clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
    }

    table {
        width: 800px;
        margin-top: 1em;
    }

    .table-table {
        overflow-x: auto;
    }

    .ba-main-info h1 {
        font-size: 27px;
        font-weight: 600;
        margin-top: 1.25em;
        line-height: 40px;
        color: rgb(10, 37, 64);
        color-scheme: light;
    }
    .mh-ba {
        margin-top: 0;
    }
    .tableBody::before {
        position: absolute;
        left: 6%;
        height:  970px;
        margin: -0.5em 0em;
        width: 90%;
    }
    .pricing {
        margin-top: 5em;}

    .gray-td::before {
        left: 8%;

    }

    .pre-footer {
        padding: 1em;
    }
    .little-checks {
        padding: 0;
    }
    .prices {
        border-radius: 8px;
    }
    .personaliz {
        border-radius: 8px;
    }
    .colorize i {
       background: rgb(0, 115, 230);
    }
    .credit-card-mockup {
        height: 250px;
    }
    .ba-main-image svg {
        padding: 0em;
    }
}