@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}

:root {
  --fill-color-lightGreen: #1ef5e9;
  --fill-color-Green: #01d925;
  --fill-color-White: #fff;
  --blue-color: rgb(0, 115, 230);
  --green-color: rgb(21, 190, 83);
  --paragraph-fontSize: 18px;
}

.blue--color {
  color: var(--blue-color);
}

.green--color {
  color: var(--green-color);
}

.fill-lightGreen {
  fill: var(--fill-color-lightGreen);
}

.fill-Green {
  fill: var(--fill-color-Green);
}

.fill-White {
  fill: var(--fill-color-White);
}

#gradient-canvas {
  --gradient-color-1: #a960ee;
  --gradient-color-2: #635bff;
  --gradient-color-3: #ff333d;
  --gradient-color-4: #90e0ff;
  --gradient-color-5: #356AF9;
  --gradient-color-6: #0048e5;
  --gradient-color-7: #635bff;
  --gradient-color-8: #90e0ff;
}

.canvas-item {
  height: 100%;
  width: 100%;
}

.arrow-container:hover .tail {
  transform: translate(8px, 0);
  opacity: 1;
}

.hero__title {
  position: relative;
  line-height: 1.1;
  z-index: 2;
}

.hero__title--primary {
  font-size: 75px;
  mix-blend-mode: color-burn;
  -webkit-mix-blend-mode: color-burn;
  margin-bottom: 0.4em;
  margin-top: 2.6em;
  color: #3a3a3a;
}

.hero__title--secondary {
  font-size: 56px;
  font-weight: 600;
  margin-top: 1.25em;
  line-height: 68px;
  color-scheme: light;
}

.hero__info {
  position: relative;
  width: 50%;
}

.main__image {
  max-width: 640px;
  position: absolute;
  margin-right: -8em;
  padding-top: 6em;
  z-index: 9999;
}

.hero__images {
  position: relative;
}

.hero__cards {
  position: absolute;
}

.hero__title--overlay {
  margin-top: 2.6em;
  font-size: 75px;
  position: absolute;
  top: 0;
  z-index: 0;
  mix-blend-mode: color-burn;
  -webkit-mix-blend-mode: color-burn;
  color: forestgreen;
  line-height: 1.1;
}

.col-md-offset-2 {
  margin-left: 1em;
}

.testimonials__section {
  background: #2B6EEA;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
  padding: 0;
  position: relative;
  width: 1080px;
  min-height: 360px;
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.block-with-logos {
  margin-bottom: 4em;
}

.testimonials__block {
  height: 100%;
  display: none;
  flex-direction: row;
}

.testimonials--active {
  display: flex;

}

.verification,
.subscription {
  padding: 2em;
  width: 1080px;
  margin: 0 auto;
}

.testimonials__section--bg {
  opacity: 0.2;
  position: absolute;
  width: 47%;
  mask-image: linear-gradient(to right, transparent 1%, black 60%);
  right: 0;
  height: 100%;
  border-radius: 0px 10px 0px 0px;
  transition: all 0.9s ease;
}

.testimonials__text {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0 48px 48px;
  max-width: 50%;
}

.testimonials {
  display: flex;
  justify-content: center;
  margin-top: 6em;
  margin-bottom: 6em;

}

.testimonials__name {
  font-size: 15px;
}

.testimonials__logo {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 36px 19px;
  width: 50%;
  z-index: 1;
  justify-content: center;
  align-items: center;
}

.sub-testimonials-section {
  position: relative;
}

.testimonials__text p {
  color: #fff;
  padding-left: 1em;
  padding-right: 2em;

}


.testimonials__container {
  height: 100%;
  display: flex;
  flex-direction: row;

}

.testimonials__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2px;
  list-style: none;
}

.testimonials__button {
  background: lightgray;
  width: 24px;
  border: none;
  height: 2px;
  display: block;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 4px;
}

.testimonials__button--active {
  background: white;
}

.testimonials-container-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('Images/man-cafe.jpg');
}

#testimonial {
  padding: 30px 0;
  text-align: center;
}

#testimonial .item {
  display: block;
  width: 100%;
  height: auto;
}

#testimonial .item p {
  font-weight: 400;
  margin: 0 0 30px 0;
  text-align: left;
  color: white;
}

.owl-theme .owl-testimonials__buttons .owl-testimonials__button.active span,
.owl-theme .owl-testimonials__buttons .owl-testimonials__button:hover span {
  background: white;
  width: 10px;
  border-radius: 2px;
  height: 5px;
  width: 17px;
}

.owl-theme .owl-testimonials__buttons .owl-testimonials__button span {
  width: 17px;
  height: 5px;
  margin: 5px 7px;
  background: lightgray;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

hr {
  height: 3px;
  width: 60px;
  position: relative;
  background: #a5a5a5;
  border: 0;
  margin-bottom: 30px;
}

.tail {
  transform: translate(-8px, 0);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.topnav {
  display: none;
}

.nav-icons {
  width: 35px;
}

.logo {
  width: 35px;
  opacity: 1;
}

.post-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.post-header__container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-top: 1em;
  color: rgb(10, 37, 64);
}

.post-header__text {
  gap: 1em;
  display: flex;

}

.post-header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}

.post-header__container a {
  text-decoration: none;
  font-weight: 500;
}

.hero {
  z-index: 2;
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.hero__section {
  width: 1080px;
  display: flex;
  padding: 2em;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__links {
  max-width: 25%;
}

.line-globe {
  height: 40px;
  width: 100vw;
  transform: skewY(-8deg);
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 3em;
  align-items: start;
}

#gradient-canvas {
  position: absolute;
  width: 100%;
  height: 462px;
  scale: 1.7;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}


.main-image {
  min-width: 474px;
}

p {
  color: rgb(66, 84, 102);
  font-weight: 400;
  line-height: 1.55556;
  font-size: var(--paragraph-fontSize);
  margin-bottom: 25px;
  color-scheme: light only;
  letter-spacing: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.why-georgia-card-text {
  color: #adbdcc;
  font-weight: normal;
  line-height: 1.6;
  font-size: 15px;

}

/* h1 {
  font-size: 75px;
  z-index: -2;
  position: relative;
  margin-bottom: 0.4em;
  margin-top: 2.6em;
  color: black;
  line-height: 1.1;
  opacity: 0.75;
  z-index: 2;
  color: #3a3a3a;
  opacity: .99;
} */

.mapps {
  margin: 30em;

}

.customers span h1 {
  opacity: none;
}

h2 {
  font-size: 56px;
  opacity: 1;
  color: #0a2540;
  width: 63%;
  line-height: 68px;
  margin-bottom: 0.25em;
  margin-top: .5em;
}

.line {
  height: 40px;
  width: 100vw;
  transform: skewY(-3deg);
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.2em;
}

.line-long-left {
  height: 40px;
  background: #7a73ff;
  width: 13%;
  position: absolute;
  float: left;
  opacity: 0.9;
  z-index: 2;
  margin-top: 0em;
}

.line-short-left {
  background: #80e9ff;
  height: 40px;
  width: 8%;
  position: relative;
  margin-top: -2em;
  opacity: 0.7;
  float: left;
  z-index: 0;
}

.line-long-right {
  height: 40px;
  background: #7a73ff;
  width: 7%;
  position: absolute;
  float: right;
  opacity: 0.8;
  right: 0;
  z-index: 1;
}

.line-short-right {
  background: #80e9ff;
  height: 40px;
  width: 13%;
  position: relative;
  margin-top: -1.77em;
  opacity: 0.7;
  float: left;
}

.contact-us {
  background: transparent;
}

h3 {
  font-size: 40px;
  color: rgb(10, 37, 64);
}

header {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.HoverArrow {
  --arrowSpacing: 5px;
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(3px);
  --arrowTipTransform: none;
  --arrowLineOpacity: 0;
  position: relative;
  padding-left: 13px;
  top: 1px;
  margin-left: 7px;
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
}

.vanta-canvas {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  height: 876px;
}

.HoverArrow__linePath {
  opacity: var(--arrowLineOpacity);
  transition: opacity 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  )
}

.HoverArrow__tipPath {
  transform: var(--arrowTipTransform);
  transition: transform 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  )
}

button:hover .HoverArrow__linePath {
  opacity: 1;
}

button:hover .HoverArrow__tipPath {
  transform: var(--arrowHoverOffset);
}

.link-logo {
  color: white;
  text-decoration: none;
}

.wrapper {
  max-width: 100%;
  position: absolute;
}

.main-navigation {
  padding-left: 15px;
}

.main-navigation-ul li {
  display: inline;
  color: white;
  padding: 10px 17px;
  font-size: 15px;
  font-weight: 500;
}

.main-navigation-ul {
  margin: 0em;
  padding-left: 0;
}

.navigation-mobile {
  display: none;
}

.why-georgia-header {
  color: #fff;
}

.globe-slash {
  color: rgb(0, 212, 255);
  font-weight: 200;
}

.why-georgia-preheader {
  color: rgb(0, 212, 255);
  font-size: var(--paragraph-fontSize);
}

.why-georgia-card-header {
  color: white;
  font-size: 24px;
  line-height: 1.3333;
  font-weight: 500;
  margin-bottom: 0;
}

.button {
  border-radius: 25px;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 6px 12px 9px 16px;
  text-decoration: none;
}

.hero__buttons {
  display: flex;
}

.fa-chevron-right {
  font-size: 11px;
  padding-left: 5px;
}

.sign-in {
  padding: 7px 15px 7px 16px;
  margin: 10px;
  font-size: 15px;
  opacity: 1;
  transition-property: background-color, opacity;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}

.sign-in:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.products {
  padding: 6px 12px 9px 16px;
  background-color: rgb(10, 37, 64);
  color: white;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
}

.customers {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 8em;
  margin-bottom: 7em;
  width: 100%;
  align-items: center;

}

.customers-section {
  width: 1080px;
  display: flex;
}

.customers-button {
  padding: 6px 12px 8px 16px;
  background-color: rgb(99, 91, 255);
  color: white;
  margin-right: 10px;
}

.customers-info p {
  width: 65%;
  padding-bottom: 1em;
  line-height: 1.5555555;
  font-size: var(--paragraph-fontSize);
  color: #435465;
}

.customers-info {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.img-row-1 {
  flex-wrap: nowrap;
  display: flex;
  align-items: baseline;
  margin-left: 10px;
}

.img-row-2 {
  flex-wrap: nowrap;
  display: flex;
  margin-left: 6.7em;
}

.follow-channel {
  display: flex;
  width: 100%;
  margin-bottom: 6em;
  gap: 6em;
  margin-top: 4em;
  align-items: center;
  justify-content: center;
}

.follow-channel__section {
  width: 1080px;
  justify-content: start;
  display: flex;
  align-items: baseline;
  padding: 2em;
}

.contact__feature>svg:nth-child(1)>use:nth-child(3) {
  opacity: 0.7;
}

.follow-channel__texts {
  max-width: 49%;
}

.follow-channel__bgImage {
  width: 184px;
  background: rgb(128, 233, 255);
  height: 120px;
  border-radius: 9px;
  position: absolute;
}

.follow-channel__frontImage {
  width: 270px;
  background: rgb(0, 0, 238);
  height: 120px;
  border-radius: 9px;
  height: 175px;
  opacity: 0.6;
  position: absolute;
  margin-top: 2em;
  margin-left: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-channel__images {

  margin-left: 9em;
}

.follow-channel__play {
  background-color: white;
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.follow-channel__playIcon {
  margin-left: 1em;
  margin-top: 0.8em;
  fill: rgb(0, 72, 229);
}

.follow-channel__progress {

  width: calc(100% - 16px);
  height: 2px;
  left: 8px;
  bottom: 12px;
  background-color: #fff;
  border-radius: 1px;
  position: absolute;
}

.follow-channel__progress::after,
.follow-channel__progress::before {
  content: "";
  position: absolute;
  background-color: var(--blendIntersection);
}

.follow-channel__progress::before {

  width: 40%;
  height: 100%;
  left: 0;
  border-radius: 1px;

}

.follow-channel__progress::after {
  width: 8px;
  height: 8px;
  left: calc(40% - 4px);
  top: calc(50% - 4px);
  border-radius: 50%;
}

.follow-channel__progress::after,
.follow-channel__progress::before {
  content: "";
  position: absolute;
  background-color: rgb(0, 72, 229);
}

.follow-channel__progress::before {
  content: "";
  position: absolute;
  background-color: #0048e5;
}

.button--followChannel {
  background: rgb(2, 188, 245);
  color: white;
  padding: 8px 13px;
  font-size: 15px;

}

.testimonials__navigation {
  z-index: 999999;
}

.products-animated {
  display: flex;
  width: 100%;
  margin-top: 4em;
  margin-bottom: 7em;
  justify-content: center;
  align-items: center;
}

.products-animated-text {
  width: 37%;
  margin-right: 1em;
}

.products-animated-animation {
  position: relative;
  width: 412px;
  height: 368px;
}

.bi-fulscreen {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  font-weight: bold;

}

.customers-img {
  display: flex;
  padding-top: 2em;
  min-width: 50%;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: flex-start
}

.customers-image-1 {
  width: 304px;
  height: 208px;
}

.customers-image-2 {
  width: 216px;
  height: 292px;
}

.customers-image-3 {
  width: 304px;
  height: 216px;
}

.customers-image-4 {
  width: 304px;
  height: 208px;
}

.customers-image-5 {
  width: 375px;
  height: 300px;
}

.image-brd {
  border-radius: 8px;
  margin-right: 25px;
}

.why-georgia {
  padding: 2em;
  width: 1080px;
  margin: 2em auto;
}

.customers-card-img {
  width: 60px;
  border-radius: 50%;
}

.customers-card-img-2 {
  position: absolute;
  margin-left: 0;
  border: 2px solid white;
  z-index: 0;
}

.customers-card-image-5 {
  margin-top: -9em;
  margin-right: -9.9em;
}

.customers-card-img-3 {
  position: relative;
  margin-left: 2em;
  z-index: 2;
  border: 2px solid white;
}

.why-georgia-cards {
  display: flex;
  gap: 2em;
}

.why-georgia-card {

  max-width: 25%;
}

.customers-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  display: flex;
  margin-left: 10px;
  width: 380px;
  height: 120px;
  padding-left: 20px;

}

.customers-card-text {
  width: 40%;
}

.customers-card-text p {
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.customers-card-images {
  margin-left: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.why-georgia-text {
  max-width: 41%;

}

.info-blocks {
  padding-top: 6em;
  width: 1080px;
}

footer ul {
  list-style: none;
  padding: 0;
}

#globe-canvas {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  height: 876px;
  align-items: center;
}

.BankAnimation__rowContainer {
  height: 100%;
  overflow: hidden;
  border-radius: 500px 0 0 500px;
  padding: 64px 0;
  background: linear-gradient(90deg, rgba(108, 140, 171, .2) -13%, hsla(0, 0%, 100%, 0) 19%);
  transform: translateZ(0);
}

@keyframes moveHorizontally {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes iconMovement {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(45deg);

  }
}

.tag-move {
  animation: iconMovement 1.3s ease-in-out infinite alternate;
  opacity: 0.9;
}

.code-move {
  animation: codeMovement 1.3s infinite alternate;
  opacity: 0.9;
}

.products-animated-section {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

@keyframes codeMovement {
  0% {
    transform: translateX(5%);
    transform: translateY(5%);

  }

  50% {}

  100% {}
}

.BankAnimation__pillRow {
  display: inline-flex;
  gap: 18px;
  white-space: nowrap;
  height: 50px;
  width: 100%;
  align-items: center;
  animation: moveHorizontally 20s linear infinite;
}

.BankAnimation__pill {

  padding: 0 10px;
  border-radius: 50px;
  letter-spacing: -.1px;
  display: flex;
  gap: 5px;
  align-items: center;
  opacity: .8;
}

.BankAnimation__pill--green {
  color: #15be53;
  background-color: #dcf5e5;
}

.BankAnimation__pill--cyan {
  color: #00c4c4;
  background-color: #d9f6f6;
}

.products-animated-animation {
  width: 40%;
}

.products-features-cards {
  display: flex;
  max-width: 1080px;
  text-align: left;
}

.products-features-card {
  margin: 1em;
}

.products-features {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0em;
}

.products-features-sectiion {
  width: 1080px;
  justify-content: start;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  padding: 2em;
  margin: 0 auto;
}



.products-features-body-text {
  color: rgb(66, 84, 102);
  font-size: 15px;
  line-height: 1.6;
}

.BankAnimation__stripeCircle {
  width: 101px;
  height: 101px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  left: 0;
  z-index: 1;
  transform: translateX(140%);
}

.BankAnimation__customer {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f6f9fc;
  z-index: 9999;
}

.BankAnimation__connection::after {
  content: "";
  position: absolute;
  width: 33.33%;
  height: 100%;
  border-radius: 30px;
  background-color: #00c4c4;
  -webkit-animation: connectionMovement 1.3s ease-in-out infinite alternate;
  animation: connectionMovement 1.3s ease-in-out infinite alternate;
}

.animated-image-block {
  width: 400px;
  animation: cardMovement 8.6s ease forwards;
  animation-timing-function: ease;
  -webkit-animation-name: cardMovement;
  -webkit-animation-duration: 10s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: 3s;
  transform-style: preserve-3d;
  padding: 3em;
  scale: 1;
  transition: transform 0.5s ease-in-out;
  animation-timing-function: ease-in-out;
}

.customers-to-us {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: center;
  align-items: center;
}

.BankAnimation__connection {
  flex-grow: 1;
  flex-shrink: 0;
  width: 48px;
  height: 2px;
  border-radius: 100px;
  background-color: #d7f3f4;
  overflow: hidden;
  position: relative;
}

.features-title {
  font-size: 15px;
  font-weight: 425;
  color: rgb(10, 37, 64);
}

.products-features-text h4 {
  color: rgb(0, 196, 196);
}

.products-features-text h3 {
  width: 55%;
}

.started-button {
  color: rgb(99, 91, 255);
  background-color: transparent;
  padding: 0;
}

.contact__title-small {
  color: rgb(10, 37, 64);
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0;
}

.contact__text-small {
  font-size: 15px;
  margin-bottom: 0.6em;
}

.contact__title {
  font-size: 40px;
}

.ft-i {
  width: 41px;
}

.contact__container {
  width: 1080px;
  display: flex;
  justify-content: start;
  gap: 4em;
  position: relative;
  padding: 2em;
  align-items: center;
}

.contact {
  display: flex;
  width: 100%;
  margin-bottom: 7em;
  gap: 6em;
  margin-top: 4em;
  align-items: center;
  justify-content: center;
}

.customers-card-button {
  color: #635bff;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  background: transparent;
}

.contact__feature {
  width: 20%;
}

.contact__buttons {
  display: flex;
  gap: 1em;
}

.contact__text {
  width: 40%;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 3em;
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 0;
}

.footer__info>div:nth-child(1)>p:nth-child(1)>svg:nth-child(1) {
  padding-right: 8px;
}

.footer__info>div:nth-child(1)>p:nth-child(2)>svg:nth-child(1) {
  padding-right: 8px;
}

.footer__text {
  flex-direction: row;
  display: flex;
  width: 1080px;
  gap: 1em;
  justify-content: space-between;
  padding: 2em;
}

.footer__title {
  font-weight: 425;
}

footer li {
  font-weight: normal;
  line-height: 2;
  color: rgb(10, 37, 64);
  font-size: 15px;
}

.footer__bg {
  background: #f6f9fc;
  clip-path: polygon(0 14%, 100% 0, 100% 100%, 0 100%);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 149%;
  padding-top: -12em;
  margin-top: -9em;
}

.footer__info p {
  font-size: 15px;
}

.dynamic {
  z-index: -1;
  height: 250px;
  rotate: 0deg;
  scale: 2.4;
  transform: rotate(71deg) translate(-47%, 8px);
  skewY: 100deg;
  scale: 6;
}


@-webkit-keyframes AnimationName {
  0% {
    background-position: 33% 0%
  }

  50% {
    background-position: 68% 100%
  }

  100% {
    background-position: 33% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 33% 0%
  }

  50% {
    background-position: 68% 100%
  }

  100% {
    background-position: 33% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 33% 0%
  }

  50% {
    background-position: 68% 100%
  }

  100% {
    background-position: 33% 0%
  }
}

@media (max-width:1130px) {
  .ba-hero__section {
    padding: 2em;
  }

  .ba-post-header-container {
    padding: 0 2em;
  }

  .footer__text {
    padding: 2em;
  }
}

@media (max-width:1080px) {

  .footer__text,
  .pricing__section,
  .verification,
  .subscription {
    width: 100%;

  }

  .testimonials__section {
    margin: 2em;
  }

  .pricing,
  .products-animated-section,
  .contact__container {
    width: 100%;
  }

}

@media (max-width:1080px) {
  .ba-hero__section {
    flex-direction: column;
  }

  .ba-hero__info {
    width: 100%;
  }

  .animated-cards-block {
    flex-direction: column;
  }

  .animated-cards-text {
    width: 90%;
  }

  .animated-image-woman img {
    width: 130px;
    border-radius: 24px;
    position: relative;
    top: 150px;
    height: 130px;
  }

  .rouned {
    width: 100%;
  }

  .pricing__text {
    width: 100%;
  }

  .animated-image-woman {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products-animated-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width:768px) {}

@media (max-width: 600px) {
  .main-image {
    display: none;
  }

  .hero__cards-row {
    position: absolute;
  }

  .hero__cards-row:nth-of-type(2) {
    display: none;
  }

  .post-header__text {
    gap: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
  }

  .testimonials__section--bg {
    width: 100%;
    height: 50%;
    mask-image: linear-gradient(to top, transparent 1%, black 60%);
  }

  .post-header__container {
    padding-left: 1em;
    padding-right: 2em;
  }

  .footer__info {
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }

  .info-blocks {
    max-width: 100%;
    padding-top: 2em;
  }

  .products-features {
    width: 100%;
    margin-bottom: 1em;
  }


  .products-features-body-text {
    width: 100%;
  }

  .products-animated {
    display: flex;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    flex-wrap: wrap;
  }

  .follow-channel__texts p {
    width: 80%;
  }

  .products-animated-text {
    width: 100%;
    margin-left: 0em;
    margin-right: 0em;
  }

  .customers-to-us {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
  }

  .products-animated-animation {
    position: relative;
    width: 80%;
    height: 368px;
    padding-left: 32px;
  }

  .testimonials {
    display: flex;
    justify-content: center;
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 2em;
  }

  .testimonials-section {
    background: #2B6EEA;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    padding: 0;
    position: relative;
    width: 100%;
    min-height: 360px;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
  }

  .testimonials-section-bg {
    opacity: 0.2;
    position: absolute;
    width: 100%;
    mask-image: linear-gradient(to top, transparent 20%, black 60%);
    right: 0;
    border-radius: 0px 10px 0px 0px;
    transition: all 0.9s ease;
    height: auto;
  }

  .why-georgia-card-text {
    color: #adbdcc;
    font-weight: normal;
    line-height: 1.6;
    font-size: 15px;
    width: 100%;
  }

  .testimonials-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .testimonials__text {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0 48px 48px;
    width: 100%;
    order: 2;
  }

  .testimonials__text p {

    color: #fff;
    padding-left: 0em;
    padding-right: 0em;

  }

  .testimonials__logo {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 36px 19px;
    width: 100%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    order: 1;
  }

  .BankAnimation__stripeCircle {
    width: 101px;
    height: 101px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    left: 0;
    z-index: 1;
    transform: translateX(95%);
  }

  .products-features-text h3 {
    width: 100%;
  }

  .products-features-cards {
    display: flex;
    max-width: 100%;
    text-align: left;
    flex-wrap: wrap;
    margin: 0;
  }

  .logo {
    max-width: 35px;
    opacity: 1;
  }

  .customers {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 0em;
  }

  .customers-info {
    margin-left: 0em;
    min-width: 100%;
    padding: 30px;
  }

  .customers-card-image-5 {
    display: none;
  }

  .customers-card-text {
    width: 46%;
  }

  .customers-card-image-5 {
    display: none;
  }

  .customers-image-1 {
    width: 211px;
    height: 161px;
  }

  .customers-image-2 {
    width: 146px;
    height: 204px;
  }

  .customers-image-3 {
    width: 239px;
    height: 159px;
  }

  .customers-info h2 {
    width: 100%;
  }

  p {
    color: #435465;
    font-weight: normal;
    line-height: 1.4;
    width: 100%;
  }

  h3 {
    font-size: 35px;
  }

  .why-georgia-text {
    max-width: 100%;
    padding: 30px;
    margin-left: 0em;
    margin-top: 0em;
  }

  .customers-img {
    padding-left: 1em;
  }

  .img-row-2 {
    flex-wrap: nowrap;
    display: flex;
    margin-left: 6.7em;
    width: 100%;
    justify-content: end;
  }

  .testimonials__block {
    flex-direction: column;
  }

  .testimonials__text {
    max-width: 100%;
    padding: 30px;
  }

  .why-georgia-cards {
    display: flex;
    gap: 0.1em;
    flex-direction: column;
    margin-left: 0em;
    margin-right: 0em;
    padding: 30px;
  }

  .why-georgia-card-header {
    margin-top: 0;
  }

  .why-georgia-card {
    max-width: 100%;
  }

  .vanta-canvas {
    height: 1000px;
    width: 100%;
  }

  .footer__text {
    flex-direction: row;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  .why-georgia-header {
    color: #fff;
    margin-bottom: 0;
  }

  .why-georgia {
    margin-left: 0em;
  }

  hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
    width: 80px;
  }

  .navigation-mobile {
    display: flex;
    width: 100%;
    justify-content: end;
  }

  /*Burger-Menu*/

  .menu {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 6px;
  }

  .menu span {
    margin: 0 auto;
    position: relative;
    top: 12px;
  }

  .menu span:before,
  .menu span:after {
    position: absolute;
    content: '';
  }

  .menu span,
  .menu span:before,
  .menu span:after {
    width: 30px;
    height: 6px;
    background-color: white;
    display: block;
  }

  .menu span:before {
    margin-top: -12px;
  }

  .menu span:after {
    margin-top: 12px;
  }

  /*Fake-Trigger*/
  #sized {
    width: 49px;
    height: 34px;
    color: white;
    border: none;
    font-size: 1.1em;
    border-radius: 23px;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .modal {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 92%;
    height: auto;
    overflow: auto;
    margin-left: 5em;
    border-radius: 24px;
    margin: 1em;
    right: 2em;
    display: none;
  }

  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border-radius: 24px;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color: white;
  }

  .modal-header {
    padding: 2px 16px;
    background-color: white;
    border-bottom: none;
    display: flex;
    justify-content: end;
  }

  .modal-body {
    padding: 2px 16px;
    background-color: white;
  }

  .fa-bars {
    padding: 8px 20px;
    color: rgb(255, 255, 255);
    border-radius: 19px;
  }

  .pricing__text {
    width: 100%;
  }

  .testimonials__section {
    margin: 0;
  }

  .ba-hero__section {
    padding: 0em;
  }

  .animated-cards-block {
    flex-direction: column;
  }

  .animated-cards-text {
    width: 100%;
  }

  .animated-image-woman img {
    left: -50px;
    top: 99px;

  }

  .animated-image-woman {
    display: flex;
    justify-content: center;
  }

  .pricing__text {
    display: flex;
    flex-direction: column;
  }

  .benefits {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .benefits__block {
    width: 100%;
  }

  .pricing__checks {
    display: flex;
    flex-direction: column;
  }

  .colmn {
    max-width: 100%;
  }

  h2 {
    width: 100%;
  }

  #residency-canvas {
    clip-path: polygon(0 43%, 100% 27%, 100% 57%, 0 73%);
    margin-top: 0;
  }

  .mobile__icon--green {
    background-color: #1dcb5d;
  }

  .image__stack {
    width: 100%;
    height: 300px;
    position: relative;
    top: 25px;
    left: 20px;
  }

  .animated-cards {
    display: flex;
    flex-direction: column-reverse;
  }

  .modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: black;
    border-top: none;
    text-align: center;
  }

  .close {
    color: var(--main-green);
    float: left;
    font-size: 3em;
    font-weight: bold;
    opacity: 1;
  }

  .close:hover,
  .close:focus {
    color: var(--main-blue);
    text-decoration: none;
    cursor: pointer;
  }

  .animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .nav ul li a:hover {
    text-decoration: none;
    color: var(--main-green);
  }

  .follow-channel__images {
    display: none;
  }

  .contact__text-small {
    width: 100%;
  }

  .nav ul li a {
    padding: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: var(--main-blue);
    text-decoration: none;
  }

  .nav ul li {
    display: flex;
    font-size: 3em;
  }

  .nav ul {
    clear: both;
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .topnav {
    display: inline;
  }

  .wrapper {
    max-width: 100%;
    overflow: hidden;
  }

  .main-navigation {
    display: none;
  }

  .hero {
    z-index: 1;
    position: relative;
    display: flex;

  }

  h2 {
    font-size: 35px;
    opacity: 1;
    color: black;
  }

  .hero__info h4 {
    font-size: 20px;
  }

  h4 {
    font-size: var(--paragraph-fontSize);
  }

  .hero__info p {
    width: 100%;
  }

  .customers-card-images {
    margin-left: 1em;
  }

  .HoverArrow {
    width: 24px;
  }

  .customers-info h2 {
    line-height: 1.6;
  }



  #gradient-canvas {
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 0, 100% 58%, 0 82%, 0 83%, 0 0);
    height: 46vh;
    transform: none;
    transform: none;
    rotate: none;
    width: 100%;
    scale: 1;
  }

  .main-navigation-ul {
    font-size: 13px;
    padding-top: 5px;
  }

  .hero__info {
    width: 100%;
  }

  #globe-canvas {
    height: 1200px;
  }

  .footer__text {
    padding: 2em;
  }

  .sign-in {
    display: none;
  }

  .contact {
    display: flex;
    width: 100%;
    margin-bottom: 5em;
    gap: 4em;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .footer__info svg {
    width: 25px;
  }

  .contact__text {
    width: 100%;
    margin-left: 0em;
  }

  .contact__feature,
  .contact__feature {
    width: 100%;
  }

  .follow-channel__texts {
    max-width: 100%;
    margin-left: 1em;
  }

  .line-globe {
    height: 40px;
    width: 100vw;
    transform: skewY(-8deg);
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-top: 0em;
    align-items: start;
  }

  .vanta-canvas {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
  }

  .follow-channel {
    position: relative;
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
  }

  .customers-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .customers-info p {
    width: 100%;
  }

  .products-animated-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .follow-channel__section {
    width: 100%;
    margin-left: 0;
    display: flex;
  }

  .contact__container {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 4em;
    position: relative;
    flex-direction: column;
  }

  .testimonials-section {
    margin: 2rem;
  }

  .products-features-sectiion {
    margin-left: 0;
    width: 100%;
  }

  .line {
    height: 40px;
    width: 100vw;
    transform: skewY(-17deg);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.55em;
  }

  .mobile__icon--main {
    background-color: rgb(255, 255, 255, 0.2);
  }
}

@media (max-width:600px) {
  #residency-canvas {
    clip-path: polygon(0 43%, 100% 27%, 100% 57%, 0 73%);
    margin-top: 0;
  }

  .hero__section {
    width: 100%;
    flex-direction: column;
  }

  .hero__title--primary {
    font-size: 48px;
    margin-top: 4em;
  }
}

/* ##Device = Desktops
##Screen = 1281px to higher resolution desktops */
@media (max-width: 1281px) {
  .IdentityCaptureAnimation__picture.IdentityCaptureAnimationPicture {
    background-size: 400px 1600px;
    background-position: 694px center;
  }
}

/* ##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px */
@media (max-width: 1025px) {

  /* CSS */
  .IdentityCaptureAnimation__picture.IdentityCaptureAnimationPicture {
    background-size: 400px 1600px;
    background-position: 786px center;
  }
}



/* ##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px */
@media (max-width: 768px) {
  .IdentityCaptureAnimation__picture.IdentityCaptureAnimationPicture {
    background-size: 400px 1600px;
    background-position: 564px center;
  }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* ##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}